body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
   
}

h3 {
	color: #337ab7; 
	font-weight: bold;
}

.col-md-9 {
	text-align: right;
}

.about-info	{
	font-size: 12pt;
	text-align: justify;
}


#content-info {
    padding-top: 3%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

